/*
 *	Description:    Global tools
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - mucht@mathieuclaessens.be
*/



// ******** Grid ********
// html{
//     background-image: url(../img/grid.png);
//     background-repeat: repeat-y;
//     background-position: center;
//     background-size: contain;
// }
// body{
//     opacity: 0.5;
// }

// ******** Mixins ********
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin grid($number, $gutter) { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -$gutter;
  & > * {
    flex: 0 0 auto;
    display: block; /* IE fix */
    float: left;
    display: flex;
    width: 100% * (1 / $number) - $gutter;
    margin-right: 0;
    margin-left: $gutter;
  }
}