@charset "UTF-8";
/* Portfolio
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Mucht
 */
/* Portfolio
 *
 * /sass/settings/_paths.scss - Global paths variables
 *
 * coded by Mucht
 */
/* Portfolio
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht
 */
/* => Nom du site
 *
 * /sass/settings/_fonts.scss - Global fonts variables & fonts loading
 *
 * coded by Mucht
 */
@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/open-sans/opensans-regular-webfont.eot");
  src: url("../assets/fonts/open-sans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"), url("../assets/fonts/open-sans/opensans-regular-webfont.woff") format("woff"), url("../assets/fonts/open-sans/opensans-regular-webfont.ttf") format("truetype"), url("../assets/fonts/open-sans/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/open-sans/opensans-italic-webfont.eot");
  src: url("../assets/fonts/open-sans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/opensans-italic-webfont.woff2") format("woff2"), url("../assets/fonts/open-sans/opensans-italic-webfont.woff") format("woff"), url("../assets/fonts/open-sans/opensans-italic-webfont.ttf") format("truetype"), url("../assets/fonts/open-sans/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/open-sans/opensans-semibold-webfont.eot");
  src: url("../assets/fonts/open-sans/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/opensans-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/open-sans/opensans-semibold-webfont.woff") format("woff"), url("../assets/fonts/open-sans/opensans-semibold-webfont.ttf") format("truetype"), url("../assets/fonts/open-sans/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/open-sans/opensans-bold-webfont.eot");
  src: url("../assets/fonts/open-sans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"), url("../assets/fonts/open-sans/opensans-bold-webfont.woff") format("woff"), url("../assets/fonts/open-sans/opensans-bold-webfont.ttf") format("truetype"), url("../assets/fonts/open-sans/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/open-sans/opensans-bolditalic-webfont.eot");
  src: url("../assets/fonts/open-sans/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/opensans-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/open-sans/opensans-bolditalic-webfont.woff") format("woff"), url("../assets/fonts/open-sans/opensans-bolditalic-webfont.ttf") format("truetype"), url("../assets/fonts/open-sans/opensans-bolditalic-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Glyphs';
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../assets/fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../assets/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Portfolio
 *
 * /sass/settings/_sizes.scss - Global sizes variables
 *
 * coded by Mucht
 */
/* => Nom du site
 *
 * /sass/tools/_utils.scss - Small utilities
 *
 * coded by Mucht
 */
.hidden {
  display: none; }

.clear {
  clear: both; }

.clear::after {
  content: " ";
  display: table;
  clear: both; }

/* => Nom du site
 *
 * /sass/generic/_meyer-reset.scss - Eric Meyer's CSS reset - http://meyerweb.com/eric/tools/css/reset/
 *
 * coded by Mucht
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* => Nom du site
 *
 * /sass/generic/_box-sizing.scss - box-sizing reset
 *
 * coded by Mucht
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* => Nom du site
  *
  * /sass/base/_root.scss - Base styles for root element
  *
  * coded by Mucht
  */
html {
  font-size: 10px;
  color: #003F66;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 790px; }

a {
  text-decoration: none; }

/* Portfolio
 *
 * /sass/objects/_header.scss - Non Esthetic style for header
 *
 * coded by Mucht!
 */
.header {
  height: 400px; }
  .header--mainPages {
    height: 300px; }
  .header__titles {
    width: 100%; }
  .header__subTitle {
    margin: 1.04166666666667em 0; }

.mainNav {
  margin-left: -2em; }

/* Portfolio
 *
 * /sass/objects/_presentation.scss - Non Esthetic style for presentation section
 *
 * coded by Mucht!
 */
.presentation__photo {
  width: 24.973985431842%; }

.presentation__textBlocs {
  width: 58.3333333333%;
  min-width: 23.88888888888889em;
  margin: 0 80px; }

/* Portfolio
 *
 * /sass/objects/_projects.scss - Non Esthetic style for projects section
 *
 * coded by Mucht!
 */
.projects__title {
  width: 100%;
  margin: 30.379746835443% 0; }

.projects__project {
  width: 50%; }

.projects__img {
  width: 100%;
  height: auto; }

.projects__hoverBloc {
  width: 100%; }

/* Portfolio
 *
 * /sass/objects/_footer.scss - Non Esthetic style for footer section
 *
 * coded by Mucht!
 */
.footer__contact {
  margin-bottom: 1.5625em; }

.footer__social {
  margin-bottom: 1.5625em; }

.footer__title {
  margin-bottom: 1.04166666666667em; }

.footer__nav {
  margin-bottom: 3.125em; }

/* Portfolio
 *
 * /sass/objects/_contact.scss - Non Esthetic style for contact page
 *
 * coded by Mucht!
 */
.contact {
  background: radial-gradient(ellipse at center, #00d5ff 0%, #0092ff 100%);
  padding: 5em 12.587685113% 2.5em; }

.form__line {
  width: 100%;
  min-height: 1.66666666666667em;
  margin-bottom: 1.04166666666667em; }

.form__input {
  width: 88%; }

.form__textarea {
  width: 100%;
  height: 12.5em; }

.form__submit {
  width: 100%; }

/* Portfolio
 *
 * /sass/objects/_plan.scss - Non Esthetic style for sitePlan page
 *
 * coded by Mucht!
 */
.plan {
  background: url(../assets/img/projectBackground1.png) fixed;
  padding: 2.5em 12.587685113% 5em; }
  .plan__list--sub {
    margin-left: 2em; }
  .plan__listItem {
    margin-top: 2.5em; }

/* Portfolio
 *
 * /sass/objects/_project.scss - Non Esthetic style for project page
 *
 * coded by Mucht!
 */
.project {
  width: 100%;
  padding: 2.7777777778em 12.587685113% 1.2222222222em 12.587685113%; }
  .project__title {
    margin-bottom: 1.04166666666667em; }
  .project__textBlocs {
    margin-bottom: 0.5em; }
  .project__illustration {
    width: 100%;
    height: auto; }
  .project__botton--label {
    width: 74.824629774%;
    min-height: 1.66666666666667em;
    margin: 0 auto; }

/* Portfolio
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 */
.header {
  overflow: hidden;
  background-image: url(../assets/img/cover.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  position: relative; }
  .header__img {
    width: 100%;
    position: relative;
    top: -50%; }
  .header__title {
    font-size: 5em;
    font-family: "Aladin", cursive;
    color: #FFF;
    padding-bottom: 0.5em; }
    .header__title--mainPages {
      padding-bottom: 0; }
  .header__titles {
    background-color: rgba(0, 63, 102, 0.8);
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center; }
  .header__subTitle {
    font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4em;
    color: #FFF;
    padding: 1.04166666666667em 0.5em 0 0.5em;
    border-right: 2px solid #FF9900; }
    .header__subTitle:last-child {
      padding-right: 0;
      border: none; }

.mainNav {
  display: inline-block;
  z-index: 100;
  position: relative;
  top: 2.5em;
  left: 0;
  padding: 1em 2em 1em 5em;
  border-radius: 2.2em;
  background-color: rgba(0, 63, 102, 0.8); }
  .mainNav__elt {
    padding-right: 1.25em;
    font-family: "Aladin", cursive;
    font-size: 2.4em;
    color: #FFF;
    transition: 0.2s ease-in-out; }
    .mainNav__elt--active {
      color: #FF9900; }
    .mainNav__elt:last-child {
      padding-right: 0; }
    .mainNav__elt:hover {
      color: #FF9900; }

/* Portfolio
 *
 * /sass/components/_presentation.scss - Esthetic style for presentation section
 *
 * coded by Mucht!
 */
.presentation {
  background: radial-gradient(ellipse at center, #00d5ff 0%, #0092ff 100%);
  padding: 6.5em 12.587685113%; }
  .presentation__photo {
    float: left; }
  .presentation__textBlocs {
    position: relative;
    float: left;
    text-align: center;
    line-height: 2em;
    font-size: 2em; }

/* Portfolio
 *
 * /sass/components/_projects.scss - Esthetic style for projects section
 *
 * coded by Mucht!
 */
.projects__title {
  color: transparent;
  z-index: 100;
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: "Aladin", cursive;
  position: absolute;
  transition: 0.2s ease-in-out; }

.projects__project {
  float: left;
  position: relative;
  background-color: #003F66;
  overflow: hidden; }

.projects__hoverBloc {
  display: block;
  padding-top: 70.046801872075%;
  transition: 0.2s ease-in-out; }
  .projects__hoverBloc--over {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 153, 0, 0.85); }
  .projects__hoverBloc--rotated {
    transform: rotate(-35deg);
    background-color: #003F66;
    position: absolute; }
  .projects__hoverBloc--upper {
    top: -79.746835443038%;
    left: -103.79746835443%; }
  .projects__hoverBloc--lower {
    bottom: -79.746835443038%;
    right: -103.79746835443%; }

.projects__project:hover .projects__title {
  color: #003F66; }

.projects__project:hover .projects__hoverBloc--over {
  opacity: 0.9; }

.projects__project:hover .projects__hoverBloc--upper {
  top: -50%;
  left: -60%; }

.projects__project:hover .projects__hoverBloc--lower {
  bottom: -50%;
  right: -60%; }

/* Portfolio
 *
 * /sass/components/_footer.scss - Esthetic style for footer section
 *
 * coded by Mucht!
 */
.footer {
  background: linear-gradient(-45deg, #003f66 0%, #002233 45%, #002233 55%, #003f66 100%);
  padding: 5em 12.587685113% 2.5em;
  text-align: center; }
  .footer__contact {
    float: left;
    text-align: left; }
  .footer__social {
    float: right;
    text-align: right; }
  .footer__title {
    font-family: "Aladin", cursive;
    font-size: 3.2em;
    color: #FFF; }
  .footer__elt {
    display: block;
    font-size: 1.6em;
    color: #FFF;
    margin-bottom: 1.5625em;
    transition: 0.1s ease-in; }
    .footer__elt--links:hover {
      color: #FF9900; }
    .footer__elt::before {
      padding-right: 0.5em;
      font-family: "Glyphs";
      font-size: 1.3em;
      color: #0092ff; }
    .footer__elt--phone::before {
      content: ""; }
    .footer__elt--mail::before {
      content: ""; }
    .footer__elt::after {
      padding-left: 0.5em;
      font-family: "Glyphs";
      font-size: 1.3em;
      color: #0092ff; }
    .footer__elt--github::after {
      content: ""; }
    .footer__elt--behance::after {
      content: ""; }
    .footer__elt--linkedin::after {
      content: ""; }
  .footer__nav {
    clear: both;
    font-size: 1.6em; }
    .footer__nav--elt {
      color: #FFF;
      padding: 0 0.5em 0 0.3em;
      border-right: 2px solid #FF9900;
      transition: 0.1s ease-in; }
      .footer__nav--elt:last-child {
        border: none; }
  .footer__copy {
    font-size: 1.6em;
    color: #0066B2; }

/* Portfolio
 *
 * /sass/components/_contact.scss - Esthetic style for contact page
 *
 * coded by Mucht!
 */
.form {
  font-size: 2.4em; }
  .form__line {
    border-radius: 0.83333333333333em;
    border: 3px solid #003F66;
    position: relative; }
  .form__label {
    font-family: "Aladin", cursive;
    color: #FFF;
    padding: 0.19em 1em;
    border-radius: 0.83333333333333em;
    background-color: #003F66;
    position: relative;
    top: 3px;
    left: 0px; }
    .form__label--msg {
      display: block;
      top: 0; }
  .form__input {
    position: absolute;
    top: 6px;
    left: 100px;
    font-size: 0.66666666666667em;
    color: #003F66;
    background-color: rgba(0, 63, 102, 0);
    border: none; }
  .form__textarea {
    font-size: 0.66666666666667em;
    font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #003F66;
    background-color: rgba(0, 63, 102, 0);
    border: none;
    padding: 1em; }
  .form__submit {
    display: block;
    font-family: "Aladin", cursive;
    color: #FFF;
    padding: 0.13em 1em;
    border-radius: 0.83333333333333em;
    background-color: #003F66;
    font-size: 1em;
    border: none;
    position: absolute;
    top: -2px; }
    .form__submit:hover {
      color: #FF9900; }

/* Portfolio
 *
 * /sass/components/_plan.scss - Esthetic style for sitePlan page
 *
 * coded by Mucht!
 */
.plan__list {
  font-family: "Aladin", cursive; }

.plan__elt {
  font-size: 2.4em;
  color: #003F66;
  transition: 0.1s ease-in-out; }
  .plan__elt::before {
    content: "";
    font-family: "Glyphs";
    color: #003F66;
    padding-right: 0.5em;
    transition: 0.1s ease-in-out; }

.plan__elt:hover {
  color: #0066B2; }

.plan__elt:hover::before {
  content: "";
  color: #0066B2; }

/* Portfolio
 *
 * /sass/components/_project.scss - Esthetic style for project page
 *
 * coded by Mucht!
 */
.project {
  font-size: 1.8em; }
  .project--context {
    background: url(../assets/img/projectBackground1.png) fixed; }
  .project--approche {
    background: url(../assets/img/projectBackground1.png) fixed; }
  .project--recul {
    background: url(../assets/img/projectBackground1.png) fixed; }
  .project__title {
    font-size: 1.33333333333333em;
    font-family: "Aladin", cursive; }
  .project__textBlocs {
    columns: 2;
    column-gap: 8.88888888888889em;
    -moz-columns: 2;
    -moz-column-gap: 8.88888888888889em;
    -webkit-columns: 2;
    -webkit-column-gap: 8.88888888888889em; }
  .project__textBloc {
    line-height: 2em;
    padding-bottom: 1em; }
  .project__illustrations {
    position: relative; }
  .project__illustration {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
    .project__illustration--legend {
      display: inline-block;
      font-family: "Aladin", cursive;
      font-size: 3.6em;
      padding: 0.41666666666667em 0.69444444444444em;
      background-color: rgba(0, 63, 102, 0.8);
      color: #FFF;
      position: absolute;
      right: 0;
      bottom: 0; }
  .project__botton {
    font-size: 2.4em;
    background-image: radial-gradient(ellipse at center, #00d5ff 0%, #0092ff 100%);
    padding: 2.08333333333333em 0; }
    .project__botton--label {
      display: block;
      text-align: center;
      padding: 0.33333333333333em 0;
      border-radius: 0.83333333333333em;
      font-family: "Aladin", cursive;
      color: #FFF;
      background-color: #003F66;
      transition: 0.2s ease-in-out; }
      .project__botton--label:hover {
        color: #FF9900; }

/*# sourceMappingURL=styles.css.map */