/* Portfolio
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht
 */

$presentationBackground: radial-gradient( ellipse at center, #00d5ff 0%,#0092ff 100% );
$contactBackground: radial-gradient( ellipse at center, #00d5ff 0%,#0092ff 100% );
$planBackground: $presentationBackground;
$buttonBackground: #003F66;

$footerBackground: linear-gradient( -45deg, #003f66 0%,#002233 45%,#002233 55%,#003f66 100% );
$projectBackground: #003F66;
$projectHoverBackground: rgba(255, 153, 0, 0.85);
$titleBackground: rgba(0, 63, 102, 0.8);
$navBackground: $titleBackground;
$sectionTitleBackground: #003F66;
$labelBackground: #003F66;
$inputBackground: #FFF;
$legendBackground: #0092ff;

$mainTitleColor: #FF9900;
$navColor: #FFF;
$titleColor: #FFF;
$tagColor: #FFF;
$buttonColor: #FFF;
$laborColor: #003F66;
$footerTitleColor: #FFF;
$footerTextColor: #FFF;
$iconColor: #0092ff;
$copyColor: #0066B2;
$labelColor: #000;
$legendColor: #000;
$errorsColor: #ff0000;
$succesColor: #008000;

$linksHoverColor: #FF9900;
$planHoverColor: #0066B2;

$borderColor: #0066B2;
$borderFormColor: #003F66;

$SeparatorsColor: #FF9900;
