/* Portfolio
 *
 * /sass/settings/_sizes.scss - Global sizes variables
 *
 * coded by Mucht
 */

$mainWidth: 74.824629773967%; // 960px / 1283px * 100
$mainMarge: 12.5876851130165%;

$indexHeaderHeight: 500px;
$headerHeight: 300px;
$projectHeaderHeight: 400px;

$gridWidth: 6.235385814497%; // 80px / 960px * 100

$textBlocWidth: 58.333333333333%; // 560px / 960px * 100
$textBlocProjectWidth: 34.782608695652%; // 320 / 960 * 100
$textBlocsWidth: 83.333333333333%; // 800 / 960 *100

$presentationGridWidth: 14.285714285714%; // 80 / 560 * 100
