/*
 *	Description:    Stylesheet for 980px and up screen
 *	File:    		980up.scss
 *	Version:        1.0 - 25/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Navigation ********
.navigation{
	&-button{
		&:hover{
			.navigation-button-bar{
				background-color: $lightBlue;
			}
		}
	}
	&-links{
		padding-left: 3.75rem; 
	}
	&-link{
		// position: relative;
		&:after{
			content: "";
			position: relative;
			top: 1rem;
			left: 50%;
			display: block;
			width: 3rem;
			height: .2rem;
			background-color: $orange;
			transform: translateX(-50%) scale(0);
			transition: $mainTrans;
		}
		&:hover{
			&:after{
				transform: translateX(-50%) scale(1);
				transform-origin: center;
			}
		}
	}
}

// ******** Button ********
.btn{
	&:hover{
		color: $greyDark;
		background-color: $lightBlue;
	}
}

// ******** Sections ********
.section{
	padding-left: 5rem;
	padding-right: 5rem;
	&-wrap{
		max-width: 87rem;
	}
	&-next{
		display: block;
		&:hover{
			color: $white;
		}
	}
	&-prev{
		&:hover{
			color: $lightBlue;
		}
	}
	&-link{
		&:hover{
			color: $lightBlue;
		}
	}
}

// ******** About section ********
.about{
	min-height: 100vh;
	&-content{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 72rem;
		transform: translate(-50%, -50%);
	}
	&-logo{
		&-border{
			&:hover{
				box-shadow: $logoShadowOver;
			}
		}
		&-available{
			&:hover{
				&::after{
					background-color: $lightBlue;
				}
			}
		}
		&-socials{
			&-link{
				&:hover{
					&::after{
						opacity: 1;
					}
				}
			}
		}
	}
}

// ******** Portfolio section ********
.portfolio{
	// min-height: 100vh;
	&-project{
		margin: 2.5rem 0;
		&:nth-child(2n+1){
			.portfolio-project-title{
				transform: translateX(100%);
			}
		}
		&:nth-child(2n){
			.portfolio-project-title{
				transform: translateX(-100%);
			}
		}
		&:hover{
			.portfolio-project-title{
				transform: translateX(0%);
			}
		}
		&-title{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: $mainTrans;
		}
		&-img{
			width: 100%;
			height: auto;
		}
	}
}

// ******** Experience section ********
.experience{
	// min-height: 100vh;
	&-elt{
		&:nth-child(2n+1){ // Odd
			padding-left: 2.5rem;
		}
		&:nth-child(2n){ // Even
			padding-right: 2.5rem;
		}
	}
}

// ******** Contact section ********
.contact{
	&-form{
		&-submit{
			&:hover{
				color: $greyDark;
				background-color: $lightBlue;
			}
		}
	}
}

// ******** Study cases ********
.studyCase{
	&-description{
		margin-left: 5rem;
	}
}

// ******** Footer ********
.footer{
	padding: 2.5rem 5rem;
}