/*
 *    Description:    Stylesheet for the based elements
 *    File:            _root.scss
 *    Version:        1.0 - 25/09/2017
 *    Author :        Mucht - claessens.mathieu@gmail.com
*/
html{
    font-family: $fontStack;
    font-size: 10px;
    color: $white;
    background: $grey;
    background: linear-gradient(to left, rgba(38,50,56,1) 0%,rgba(48,68,73,1) 50%,rgba(38,50,56,1) 100%);
}

a{
    color: $white;
    text-decoration: none;
}

.section{
    position: relative;
    padding: 10rem 2.5rem 5rem 2.5rem;
    &:first-of-type{
        padding-top: 12.1rem;
    }
    &-title{
        @include font-size(2);
        position: relative;
        margin-bottom: 5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1rem;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -1rem;
            display: block;
            width: 5rem;
            height: .2rem;
            background-color: $orange;
            transform: translateX(-50%);
        }
    }
    &-next{
        @include font-size(1.4);
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        padding: 0 5rem 5rem;
        color: $transparent;
        text-align: center;
        transition: $mainTrans;
        &::after{
            content: "";
            position: absolute;
            bottom: 2.5rem;
            left: 50%;
            width: 3rem;
            height: 1.5rem;
            background-image: url("../img/icons/arrow.png");
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateX(-50%);
        }
    }
}