/* Portfolio
 *
 * /sass/objects/_contact.scss - Non Esthetic style for contact page
 *
 * coded by Mucht!
 */

.contact{
    margin: 5em 0;
    margin-left: 12.548713951676%;
}

.form{
    width: 50.038971161341%;
    min-width: 400px;
    margin: 0 auto;
    &__line {
        margin-bottom: 1.041666667em;
    }
    input[ type="text" ], input[ type="email" ], input[ type="url" ], textarea {
        width: 100%;
    }
    textarea {
        min-height: 12.5em;
    }
    input[type="submit"] {
        width: 100%;
    }
    .wpcf7-validation-errors, .wpcf7-not-valid-tip, .wpcf7-mail-sent-ng {
        margin-top: 0.5em;
    }
}

.businessCard{
    margin: 5em 0;
    margin-right: 12.548713951676%;
    &__wrap{
        margin: 0 auto;
    }
    &__photo{
        width: 100%;
        max-width: 300px;
        margin-bottom: 2.5em;
    }
    &__textBox{
        width: auto;
        margin: 0 auto;
    }
    &__elt{
        width: auto;
        margin: 1em 0 0 0;
    }
}

// ===== media query =====
@media screen and (max-width: 980px) {
    .contact{
        margin-left: 0;
    }
    .businessCard{
        margin-right: 0;
        &__wrap{
            width: auto;
            margin: 0 auto;
        }
        &__photo{
            width: 50%;
            max-width: 300px;
            min-width: 250px;
        }
    }
}
