/* Portfolio
 *
 * /sass/objects/_header.scss - Non Esthetic style for header
 *
 * coded by Mucht!
 */

.header{
    height: $headerHeight;
    min-width: 0px;
    &--mainPages{
        height: $headerMainPagesHeight;
    }
    &__titles{
        width: 100%;
    }
    &__subTitle{
        margin: 0 0.25em;
    }
}

 .mainNav{
     margin-left: -2em;
 }
