/* Portfolio
 *
 * /sass/objects/_presentation.scss - Non Esthetic style for presentation section
 *
 * coded by Mucht!
 */

.presentation{
    &__photo{
        width: 24.973985431842%;
    }
    &__textBlocs{
        width: $textBlocWidth;
        min-width: 23.88888888888889em; // 430px
        margin: 0 80px;
    }
}
