/* Portfolio
 *
 * /sass/objects/_presentation.scss - Non Esthetic style for presentation section
 *
 * coded by Mucht!
 */

.presentation{
    &__wrap{
        width: 62.353858144973%;
        min-width: 800px;
        margin: 0 auto;
    }
    &__photo{
        width: 30%;
        max-width: 300px;
        height: auto;
    }
    &__textBlocs{
        width: $textBlocWidth;
        margin: 7% 0 0 10%;
    }
}

@media screen and (max-width: 850px) {
    .presentation{
        &__wrap{
            text-align: center;
            min-width: 300px;
            margin: 0 auto;
        }
        &__photo{
            width: 300px;
        }
        &__textBlocs{
            width: 100%;
            margin: 10% 0 0 0;
        }
    }
}
