/* Portfolio
 *
 * /sass/objects/_projects.scss - Non Esthetic style for projects section
 *
 * coded by Mucht!
 */

.projects{
    &__title{
        width: 100%;
        margin: 75px 0;
    }
    &__project{
        width: 50%;
        height: 200px;
    }
    &__img{
        width: 100%;
        min-height: 250px;
    }
    &__hoverBloc{
        width: 100%;
    }
}

// ===== media query =====

@media screen and (max-width: 700px) {
    .projects{
        &__project{
            width: 100%;
        }
    }
}
