.mainNav a,
.mainNav a:focus,
.mainNav a:focus-visible {
  outline: none;
}

.mainNav ul li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  right: 100%;
  left: calc(100% - 9.5rem);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-material-light);
  transition: var(--transition-base);
}

.mainNav ul li a.active::before,
.mainNav ul li a:hover::before,
.mainNav ul li a:focus::before,
.mainNav ul li a:focus-visible::before {
  left: 0;
}

.mainNav ul li a::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  right: 9.5rem;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-material-light);
  border: 4px solid var(--color-material-dark);
  transition: var(--transition-base);
}

.mainNav ul li a.active::after,
.mainNav ul li a:hover::after,
.mainNav ul li a:focus::after,
.mainNav ul li a:focus-visible::after {
  right: 100%;
  background-color: var(--color-material-orange);
}
