/* Portfolio
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 */

.header{
    overflow: hidden;
    background-image: url(#{ $imgPath }cover.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    &--realisations{
        background-image: url(#{ $imgPath }surUnBaobabcover.jpg);
    }
    // &__cover{
    //     width: auto%;
    //     height: 100%
    //     position: relative;
    //     top: -40%;
    // }
    &__title{
        font-size: 5em;
        font-family: $edoStack;
        color: $titleColor;
        padding-bottom: 0.5em;
        &--mainPages{
            padding-bottom: 0;
        }
    }
    &__titles{
        background-color: $titleBackground;
        position: absolute;
        bottom: 0;
        padding: 2.5em 0;
        text-align: center;
        }
    &__subTitle{
        display: inline-block;
        font-family: $openSansStack;
        font-size: 2.4em;
        color: $tagColor;
        padding: 0.2em 0.5em 0.3em;
        &--tags{
            background-color: $buttonBackground;
            border-right: 2px solid $SeparatorsColor;
            border-left: 2px solid $SeparatorsColor;
            border-radius: 0.75em;
        }
    }
}

.mainNav{
    display: inline-block;
    z-index: 100;
    position: absolute;
    top: 2.5em;
    left: 0;
    padding: 1em 2em 1em 5em;
    border-radius: 2.2em;
    background-color: $navBackground;
    &__elt{
        padding-right: 1.25em;
        font-family: $openSansStack;
        font-size: 2.4em;
        color: $navColor;
        transition: 0.2s ease-in-out;
        &--active{
            color: $linksHoverColor;
        }
        &:last-child{
            padding-right: 0;
        }
        &:hover{
            color: $linksHoverColor;
        }
    }
}

// ===== media query =====

@media screen and (max-width: 635px) {
    .header{
        &__subTitle{
            font-size: 1.6em;
        }
    }
}
