/* Portfolio
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 */

 .indexHeader{
     background-image: url(#{ $imgPath }cover.png);
     background-size: cover;
     background-position: center center;
     &__title{
         text-align: center;
         font-family: $aladinStack;
         font-size: 6em;
         color: $mainTitleColor;
         &::before{
             content: "";
             display: block;
             background-image: url( #{ $imgPath }portrait.png );
             background-repeat: no-repeat;
         }
     }
 }

 .header{
     background-image: url(#{ $imgPath }cover.png);
     background-size: cover;
     background-position: center center;
     position: relative;
     &__title{
         text-align: center;
         font-size: 5em;
         font-family: $aladinStack;
         padding: 0.5em 0;
         color: $titleColor;
         background-color: $titleBackground;
         width: 100%;
         position: absolute;
         bottom: 0;
     }
 }

.mainNav{
    display: block;
    padding-top: 2.5em;
    &__elt{
        padding-right: 1.25em;
        font-family: $aladinStack;
        font-size: 2.4em;
        color: $navColor;
        transition: 0.2s ease-in;
        &:hover{
            color: $linksHoverColor;
        }
    }
}
