/* Portfolio
 *
 * /sass/components/_presentation.scss - Esthetic style for presentation section
 *
 * coded by Mucht!
 */

.presentation{
    background: $presentationBackground;
    padding: 6.5em $mainMarge; // 50px
    &__photo{
        float: left;
    }
    &__textBlocs{
        position: relative;
        float: left;
        text-align: center;
        line-height: 2em;
        font-size: 2em;
    }
}
