/* Portfolio
 *
 * /sass/components/_project.scss - Esthetic style for project page
 *
 * coded by Mucht!
 */

.project{
    font-size: 1.8em;
    &--context{
        background: url(#{ $imgPath }projectBackground1.png) fixed;
    }
    &--approche{
        background: url(#{ $imgPath }projectBackground1.png) fixed;
    }
    &--recul{
        background: url(#{ $imgPath }projectBackground1.png) fixed;
    }
    &__title{
        font-size: 1.33333333333333em;
        font-family: $aladinStack;
    }
    &__textBlocs{
        columns: 2;
        column-gap: 8.88888888888889em;
        -moz-columns: 2;
        -moz-column-gap: 8.88888888888889em;
        -webkit-columns: 2;
        -webkit-column-gap: 8.88888888888889em;
    }
    &__textBloc{
        line-height: 2em;
        padding-bottom: 1em; // 25px
    }
    &__illustrations{
        position: relative;
    }
    &__illustration{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        &--legend{
            display: inline-block;
            font-family: $aladinStack;
            font-size: 3.6em;
            padding: 0.41666666666667em 0.69444444444444em;
            background-color: $legendBackground;
            color: $legendColor;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__botton{
        font-size: 2.4em;
        background-image: $projectBottonBackground;
        padding: 2.08333333333333em 0;
        &--label{
            display: block;
            text-align: center;
            padding: 0.33333333333333em 0;
            border-radius: 0.83333333333333em;
            font-family: $aladinStack;
            color: $labelColor;
            background-color: $labelBackground;
            transition: 0.2s ease-in-out;
            &:hover{
                color: $linksHoverColor;
            }
        }
    }
}
