/* Portfolio
 *
 * /sass/components/_project.scss - Esthetic style for project page
 *
 * coded by Mucht!
 */

.project{
    font-size: 1.8em;
    &__title{
        font-size: 1.33333333333333em;
        font-family: $edoStack;
    }
    &__textBlocs{
        columns: 2;
        column-gap: 4em;
        -moz-columns: 2;
        -moz-column-gap: 4em;
        -webkit-columns: 2;
        -webkit-column-gap: 4em;
    }
    &__textBloc{
        line-height: 2em;
        padding-bottom: 1em; // 25px
    }
    &__illustrations{
        position: relative;
    }
    &__illustration{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        &--legend{
            display: inline-block;
            font-family: $edoStack;
            font-size: 2em;
            padding: 0.41666666666667em 0.69444444444444em;
            border-bottom-right-radius: 1.08108108108em;
            background-color: $legendBackground;
            color: $legendColor;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__button{
        font-size: 2.4em;
        padding: 2.08333333333333em 0;
        &--label{
            display: block;
            text-align: center;
            padding: 0.33333333333333em 0;
            border-radius: 0.83333333333333em;
            font-family: $edoStack;
            color: $buttonColor;
            background-color: $labelBackground;
            transition: 0.2s ease-in-out;
            &:hover{
                color: $linksHoverColor;
            }
        }
        &--dark{
            color: $buttonColor;
        }
    }
}

// ===== media query =====

@media screen and (max-width: 750px) {
    .project{
        &__textBlocs{
            columns: 1;
            -moz-columns: 1;
            -webkit-columns: 1;
        }
    }
}
