/* Portfolio
 *
 * /sass/components/_projects.scss - Esthetic style for projects section
 *
 * coded by Mucht!
 */

.projects{
    &__title{
        color: transparent;
        z-index: 100;
        display: block;
        text-align: center;
        font-size: 5em;
        font-family: $edoStack;
        position: absolute;
        transition: 0.2s ease-in-out;
    }
    &__project{
        float: left;
        position: relative;
        background-color: $projectBackground;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    &__hoverBloc{
        display: block;
        padding-top: 70.046801872075%;
        transition: 0.2s ease-in-out;
        &--over{
            opacity: 0;
            position: absolute;
            top: 0;
            left:0;
            background-color: $projectHoverBackground;
        }
        &--rotated{
            transform: rotate(-35deg);
            background-color: $projectBackground;
            position: absolute;
        }
        &--upper{
            top: -79.746835443038%;
            left: -103.79746835443%;

        }
        &--lower{
            bottom: -79.746835443038%;
            right: -103.79746835443%;
        }
    }
}

// Hover
.projects__project:hover .projects__title{
    color: $laborColor;
}

.projects__project:hover .projects__hoverBloc--over{
    opacity: 0.9;
}

.projects__project:hover .projects__hoverBloc--upper{
    top: -50%;
    left: -60%;
}

.projects__project:hover .projects__hoverBloc--lower{
    bottom: -50%;
    right: -60%;
}

// ===== media query =====


@media screen and (min-width: 700px) {
    .projects{
        &__title{
            font-size: 3em;
        }
    }
}

@media screen and (min-width: 800px) {
    .projects{
        &__title{
            font-size: 4em;
        }
    }
}

@media screen and (min-width: 900px) {
    .projects{
        &__title{
            font-size: 5em;
        }
    }
}

@media screen and (min-width: 1500px){
    .projects{
        &__title{
            font-size: 8em;
        }
    }
}
