/*
 *    Description:    Stylesheet for the based elements
 *    File:            _root.scss
 *    Version:        1.0 - 25/09/2017
 *    Author :        Mucht - claessens.mathieu@gmail.com
*/
html{
    font-family: $fontStack;
    font-size: 10px;
    color: $white;
    background: $grey;
	background: -moz-linear-gradient(left, $greyDark 0%, $grey 50%, $greyDark 100%);
	background: -webkit-linear-gradient(left, $greyDark 0%,$grey 50%,$greyDark 100%);
	background: linear-gradient(to right, $greyDark 0%,$grey 50%,$greyDark 100%);
}

a{
    color: $white;
    text-decoration: none;
}
