/*
 *	Description:    Stylesheet for the about sections
 *	File:    		_about.scss
 *	Version:        1.0 - 26/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.about{
	&-content{
	}
	&-logo{
		&-wrap{
			position: relative;
			margin: 2.5rem 0;
		}
		&-available{
			@include font-size(1.2);
			position: relative;
			top: -1rem;
			left: -3rem;
			display: block;
			width: 5rem;
			color: $lightBlue;
			text-align: right;
			line-height: 1.5;
			&::after{
				content: "";
				position: absolute;
				bottom: -1rem;
				right: -3.4rem;
				display: inline-block;
				width: 3rem;
				height: 3rem;
				background-color: $orange;
				border-radius: 50%;
				border: .8rem solid $grey;
			}
		}
		&-border{
			position: relative;
			display: block;
			width: 25rem;
			height: 25rem;
			margin: 0 auto;
			border-radius: 50%;
			border: 1rem solid $greyLight;
			background-color: $grey;
			box-shadow: $logoShadow;
		}
		&-socials{
			position: absolute;
			bottom: 1.5rem;
			left: 50%;
			transform: translateX(-50%);
			&-link{
				@include font-size(0);
				display: inline-block;
				width: 2rem;
				height: 2rem;
				background-size: cover;
				background-repeat: no-repeat;
				& + &{
					margin-left: 1rem;
				}
				&::after{
					@include font-size(1.6);
					content: "";
					position: absolute;
					top: -1rem;
					left: 0;
					right: 0;
					text-align: center;
					transition: $mainTrans;
					opacity: 0;
				}
				&-git{
					background-image: url('/build/img/icons/git.png');
					&::after{
						content: "Github";
					}
				}
				&-insta{
					background-image: url('/build/img/icons/insta.png');
					&::after{
						content: "Instagram";
					}
				}
				&-in{
					background-image: url('/build/img/icons/in.png');
					&::after{
						content: "Linkedin";
					}
				}
			}
		}
		&-content{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&-text{
    	line-height: 1.6;
	}
	&-title{
		@include font-size(1.9);
		&-name{
			display: block;
			text-transform: uppercase;
			letter-spacing: .45rem;
		}
		&-fname{
			font-weight: $bold;
		}
		&-lname{
			font-weight: $light;
		}
		&-function{
			@include font-size(1.6);
		}
	}
	&-intro{
		@include font-size(1.4);
		margin-top: 2rem;
		font-weight: $light;
	}
}