/*
 *	Description:    Stylesheet for the experience elements
 *	File:    		_experience.scss
 *	Version:        1.0 - 28/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.experience{
	&-elt{
		@include font-size(1.6);
		font-weight: $light;
		line-height: 1.5;
		& + &{
			margin-top: 2rem;
		}
	}
	&-date{
		font-weight: $regular;
		color: $lightBlue;
	}
	&-title{
		font-weight: $bold;
	}
	&-resume{
		@include font-size(1.8);
		display: block;
		width: 31.5rem;
		margin: 5rem auto 0;
		padding: 1rem 2rem;
		color: $white;
		text-transform: uppercase;
		letter-spacing: .1rem;
		background-color: $greyLight;
		transition: $mainTrans;
	}
}