/*
 *	Description:    Stylesheet for the contact elements
 *	File:    		_contact.scss
 *	Version:        1.0 - 28/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.contact{
	&-intro{
		@include font-size(1.4);
		margin-bottom: 3rem;
		font-weight: $light;
		line-height: 1.6;
	}
	&-form{
		&-fieldset{
			position: relative;
			margin-bottom: 2rem;
		}
		&-label{
			@include font-size(1.4);
			position: absolute;
			top: 1.15rem;
			left: 0;
			margin-right: 1rem;
		}
		& input, textarea{
			@include font-size(1.4);
    		font-family: $fontStack;
			width: 100%;
			padding: 1rem 1rem 1rem 7rem;
			color: $lightBlue;
    		resize: vertical;
			border: 0;
			border-bottom: .1rem solid $greyLight;
			background-color: $transparent;
			outline: none;
			&-error{
				border-bottom-color: $orange;
			}
    		&::placeholder{
    			color: $placeholder;
    		}
    		&:focus, &:active{
    			border-bottom-color: $lightBlue;
    		}
		}
		&-submit{
			margin-top: 2rem;
			cursor: pointer;
		}
		& .frm_error_style{
			@include font-size(1.4);
			margin-bottom: 2.5rem;
			padding: 2rem;
			text-align: center;
			border: .1rem solid $orange;
		}
		& .frm_error{
			@include font-size(1.2);
			color: $orange;
		}
		& .frm_message{
			@include font-size(1.4);
			margin-bottom: 2.5rem;
			padding: 2rem;
			color: $lightBlue;
			text-align: center;
			border: .1rem solid $lightBlue;
		}
	}
}