/*
 *	Description:    Stylesheet for the study cases elements
 *	File:    		_studyCase.scss
 *	Version:        1.0 - 30/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

.studyCase{
	animation-name: animationPage;
	animation-duration: 1s;
	animation-timing-function: ease;
	&-img{
		width: 100%;
		height: auto;
		margin-bottom: 2.5rem;
		clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
		animation-name: animationImg;
		animation-duration: 1s;
		animation-timing-function: ease;
	}
	&-description{
		@include font-size(1.6);
		font-weight: $light;
		line-height: 1.5;
		animation-name: animationText;
		animation-duration: 1s;
		animation-timing-function: ease;
	}
	&-link{
		max-width: 28rem;
		margin-top: 5rem;
		margin-bottom: 10rem;
	}
}

// ******** Animation settup ********
@keyframes animationPage {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
}

@keyframes animationImg {
    0%   {transform: translateX(-100%);}
    100%  {transform: translateX(0%);}
}

@keyframes animationText {
    0%   {transform: translateX(100%);}
    100%  {transform: translateX(0%);}
}