 /* => Nom du site
  *
  * /sass/base/_root.scss - Base styles for root element
  *
  * coded by Mucht
  */

 html{
    //  background-image: url( #{ $imgPath }mainBackground.png );
    //  background-position: fixed;
     font-size: 10px;
     color: $laborColor;
     font-family: $openSansStack;
     min-width: 790px;
 }

a{
    text-decoration: none;
}
