/*
 *	Description:    Footer stylesheet
 *	File:    		_footer.scss
 *	Version:        1.0 - 25/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/
.footer{
	position: relative;
	background-color: $greyDark;
	padding: 2.5rem;
	&-wrap{
		display: block;
		height: 15rem;
		background: rgb(38,50,56);
		background: linear-gradient(to left, rgba(38,50,56,1) 0%,rgba(48,68,73,1) 50%,rgba(38,50,56,1) 100%);
	}
	&-logo{
		&-border{
			position: absolute;
			top: 0;
			left: 50%;
			flex-basis: 20rem;
			display: block;
			width: 20rem;
			height: 20rem;
			margin: 0 auto;
			border-radius: 50%;
			border: 2.5rem solid $greyDark;
			transform: translateX(-50%);
		}
		&-content{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
