/*
 *	Description:    Global variables
 *	File:    		_variables.scss
 *	Version:        1.0 - 06/05/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Colors ********
$greyDark: #263238;
$grey: #304449;
$greyLight: #546E7A;
$lightBlue: #8FD3F5;
$orange: #EF7F25;
$white: #FAFAFA;
$transparent: rgba( 0, 0, 0, 0 );
$greyTransparent: rgba(84, 110, 122, .95);
$placeholder: #9CB1BA;

// ******** Backgrounds ********
$navigationBcg: rgba(38, 50, 56, .95);

// ******** Shadows ********
$mainShadow: 0rem 0rem .2rem 0 rgba( 0, 0, 0, .5 );
$logoShadow: inset 0rem 0rem .2rem 0 rgba( 0, 0, 0, .3 );
$logoShadowOver: inset 0rem 0rem .3rem .1rem rgba( 0, 0, 0, .3 );

// ******** Transitions ********
$mainTrans: all .25s ease-in-out;
$menuTrans:  all .3s ease-in-out;
$aboutLogoTrans : all .25s ease-in-out .25s;
$aboutTextTrans : all .25s ease-in-out .5s;

// ******** Fonts ********
$fontStack: 'Lato', sans-serif;
$bold: 700;
$semiBold: 600;
$regular: 400;
$light: 300;

// ******** Paths ********
$imgPath: "../img/";
$fontPath: "../fonts/";
$iconsPath: "../img/icons/";