/*
 *	Description:    Stylesheet for 768px and up screen
 *	File:    		768up.scss
 *	Version:        1.0 - 25/09/2017
 *	Author :        Mucht - claessens.mathieu@gmail.com
*/

// ******** Sections ********
.section{
	&-wrap{
		max-width: 72rem;
	}
}

// ******** About section ********
.about{
	&-content{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 2.5rem;
	}
	&-logo{
		&-border{
			margin-right: 5rem;
		}
	}
	&-title{
		@include font-size(2.5);
		line-height: 1.25;
		&-name{
			letter-spacing: .82rem;
		}
		&-function{
			@include font-size(2.3);
		}
	}
}